{% extends "global/base.html" %}

{% block content %}
  <h1>Atualizar Certificado</h1>

<div class='main-content container'>   
    <form class="form-certificados" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-content center form-content-grid">
              {% for field in form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}"> {{field.label}} </label>
                {{field}}
              </div>
              {% endfor %}
            </div>
            <button type="submit">Atualizar</button>
    </form>
     
              {% if form.errors %}
              <div class="form-content form-content-grid">
                  <div class="form-group">
                    <div class="message message-error">
                      Existem erros no formulario.
                    </div>
                  </div>
              </div>
              {% endif %}
  

  <a href="{% url 'app_certificado:lista_certificados' %}" class="back-link">Cancelar</a>
</div>
{% endblock content %}