{% extends "global/base.html" %}

{% block title %} {{ certificado.title }} {% endblock title %}

{% block content %}

    <h1>Certificados</h1>
    <ul>
        {% for certificado in certificados %}
            <li>
                <div class="certificado-info">
                    <a href="{% url 'app_certificado:ver_certificado' certificado.id %}" class="edit-link">{{ certificado.nome }} - {{ certificado.instituicao }}</a>
                    <div class="certificado-actions">
                        - <a href="{% url 'app_certificado:atualizar_certificado' certificado.id %}" class="edit-link">Editar</a>
                        - <a href="{% url 'app_certificado:excluir_certificado' certificado.id %}" class="inactivate-link">Excluir</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a class="add-link" href="{% url 'app_certificado:criar_certificado' %}" class="add-link">Criar novo certificado</a>

{% endblock content %}