{% extends "global/base.html" %}

{% block title %}Usuário{% endblock title %}

{% block content %}
    <div class='main-content center container'>
        <h1>Usuário</h1>
    </div>

    <div class='main-content container'>
        <form class="form-certificados" action="{% url 'app_certificado:user_create' %}" method='POST'>
            {% csrf_token %}
            <div class="form-content form-content-grid">
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            {% if form.errors %}
            <div class="form-content form-content-grid">
                <div class="message message-error">
                    Existem erros no formulário.
                </div>
            </div>
            {% endif %}

            <button type="submit">Salvar</button>
        </form>
    </div>

    <a href="{% url 'app_certificado:user_list' %}" class="back-link">Voltar para a lista de usuários</a>
    {% if messages %}
    <div class="main-content center container messages-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
