{% include 'app_certificado/partials/head.html' %}

<body>
  {% include 'app_certificado/partials/header.html' %}

  {% include 'app_certificado/partials/search.html' %}

  <main class="main-content-container">
    <div class="main-content main-content-list container">
      {% include 'app_certificado/partials/certificado.html' %}
      {% include 'app_certificado/partials/certificado.html' %}
      {% include 'app_certificado/partials/certificado.html' %}
      {% include 'app_certificado/partials/certificado.html' %}
      {% include 'app_certificado/partials/certificado.html' %}
      {% include 'app_certificado/partials/certificado.html' %}
    </div>
  </main>

  {% include "app_certificado/partials/footer.html" %}
</body>
</html>