{% extends "global/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="main-content main-content-list container">
  {% include 'app_certificado/partials/certificado.html' %}
  {% include 'app_certificado/partials/certificado.html' %}
  {% include 'app_certificado/partials/certificado.html' %}
  {% include 'app_certificado/partials/certificado.html' %}
  {% include 'app_certificado/partials/certificado.html' %}
  {% include 'app_certificado/partials/certificado.html' %}
</div>

{% endblock content %}