<div class="certificado certificados-list-item">
  <div class="certificado-cover">
    <a href="{% url 'app_certificado:certificado' certificado.id %}">
      <img src="{{ certificado.imagem.url }}" alt="Temporário">
    </a>
  </div>

  <div class="certificado-title-container">
    <h1 class="certificado-title">
      <a href="{% url 'app_certificado:certificado' certificado.id %}">
        {{ certificado.instituicao }}
      </a>

      <a href="{% url 'app_certificado:aluno' certificado.aluno.id %}">
        <i></i>
        <span>{{ certificado.aluno}}</span>
      </a>
    </h1>
  </div>

  <div class="certificado-content">
    <p>{{ certificado.duracao }} hora/s</p>
  </div>

  <div class="certificado-content">
    <p>{{ certificado.categoria }}</p>
  </div>

  {% if is_detail_page is not True %}
    <footer class="certificado-footer">
      <a class="certificado-read-more button button-dark button-full-width" href=" {% url 'app_certificado:certificado' certificado.id %}">
          <i class="fas fa-eye"></i>
          <span>ver mais...</span>
      </a>
    </footer>
  {% endif %}

  {% if is_detail_page is True %}
  </div>
  <a href="{% url 'app_certificado:lista_certificados' %}" class="back-link">Voltar para a lista de certificados</a>
  {% endif %}
    
</div>

