<div class="certificado certificados-list-item">

    <div class="certificado-cover">
      
    </div>

    <div class="certificado-title-container">
      <h2 class="certificado-title">{{ certificado.instituicao }}</h2>
    </div>

    <div class="certificado-content">
      <p>{{ certificado.descricao }}</p>
    </div>

    <footer class="certificado-footer">
      <a class="certificado-read-more button button-dark button-full-width" href="/certificados/3/">
          <i class="fas fa-eye"></i>
          <span>ver mais...</span>
      </a>
  </footer>

  </div>