<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .main-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #333; /* Change this to your desired background color */
            color: white; /* Change this to your desired text color */
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <!-- Your website content goes here -->
    </div>

    <footer class="main-footer">
        <div class="developer">
            <a href="https://github.com/caiquetm/PROJETO_TFC_CERTIFICADO/tree/main/projeto_certificado" target="_blank" rel="noreferrer noopener">By Caique Teles</a>
        </div>
    </footer>
</body>
</html>