    <div class="menu-content">
        <nav class="menu-nav">
            <a href="{% url "app_certificado:home" %}">Home</a>        
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a href="{% url "app_certificado:lista_alunos" %}">Alunos</a>
                    <a href="{% url "app_certificado:lista_certificados" %}">Certificados</a>
                    <a href="{% url "app_certificado:user_list" %}">Usuarios</a>
                    <a href="{% url "app_certificado:lista_templates" %}">Templates</a>
                    <a href="{% url "app_certificado:dashboard" %}">Dashboard</a>
                {% endif %}
                <a href="{% url "app_certificado:enviar_certificado" %}">Enviar Certificado</a>
                <a class="user-logout-link" href="{% url 'app_certificado:user_logout' %}">Logout</a>
                {% include 'app_certificado/partials/logout.html' %}
            {% else %}
                <a href="{% url "app_certificado:login" %}">Login</a>
            {% endif %}
        </nav>
    </div>    
</div>